header{
    color: white;
    background-color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.navigation{
        margin-block-start:0px;
        margin-block-end:0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.nav-items{
    list-style: none;
padding: 0.5rem;
display: flex;
}
.nav-items img{
width: 20px;
}
.nav-items button{
    color: white;
background-color: black;
border: 1px solid white;
padding: 0.2rem 0.5rem;
border-radius: 5px;
}
.hero-section{
    color: white;
    background-color: black;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    box-sizing: border-box;
       padding: 0.1rem;
 }
.hero-content p{
     margin-block-start:0px;
    margin-block-end:0px;
}
.hero-logo{
    justify-self: center;
    align-self: center;
}
.hero-logo img{
    width:100px;
}
.welcome-section {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}


.welcome-image {
    padding: 0.5rem;
  flex: 2 1 320px;    
  overflow: hidden;
}

.welcome-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.welcome-info {
    padding: 0.5rem;
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0.5rem;
}

.welcome-info p {
  color: gray;
  max-width: 100%;   
}


.welcome-ghost-footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.welcome-ghost-footer-img img {
  width: 35px;
}
.cards{
    width: 100%;
  display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
        justify-content: space-between;
}

.ghost-card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    flex-grow: 1;
        width: 300px;

}
.ghost-card-image img{
    width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;      
  border-radius: 5px;
}
.ghost-card-info{
    padding: 1rem 0rem;
}
.ghost-card-info p{
    color: gray;
}
.welcome-ghost-footer{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.welcome-ghost-footer-img img{
    width: 35px;
}
.margin-block p{
    font-size: x-small;
margin-block-start:0px;
margin-block-end:0px;
}